anaconda-mode
auto-save-list
elpa
recentf
*.html
.cache
*.pyc
/init/*.el
backups
/.emacs.desktop*
/eshell/history
/eshell/lastdir
/url
/tramp
/bookmarks

current-file-p
ath

current-file-p
ath

current-file-path

current-file-p
ath

network-security.data

var/pcache/ucs-utils
\#*
.tern-port
/currentDir
/.org-id-locations
ido.last
irony/*
meghanada/*
/.mc-lists.el
/company-statistics-cache.el
/smex-items
projectile-bookmarks.eld
.emacs-custom.el
/projectile.cache
/pyim/dcache/*
/tutorial/*
/notes
/history
/.historian
/pyim/rime/*
!/pyim/rime/default.custom.yaml
/transient/*
/image-dired/*
