anaconda-mode
auto-save-list
elpa
recentf
*.html
.cache
*.pyc
/init/*.el
backups
/.emacs.desktop*
/tutorial/Chinese-GBK.tut
/eshell*
/url
/tramp
/bookmarks

current-file-p
ath

current-file-p
ath

current-file-path

current-file-p
ath

network-security.data

var/pcache/ucs-utils
